{% extends "layout.html"%}

{% block title %}
Dashboard
{% endblock%}

{% block main %}
        {% if transactions == "nothing" %}
        <div class="mb-3">
                <h4>No Transactions yet</h4>
            </table>
        </div>
        <div>
            <h2>Cash Balance: {{cash_balance}}</h2>
        </div>

        {% else %}

        <div class="mb-3">
            <h2>Transaction History</h2>
            <table class='table'>
                <thead>
                    <tr class='tbody tr'>
                        <th class='table th'>Action</th>
                        <th class='table th'>Date</th>
                        <th class='table th'>Time</th>
                        <th class='table th'>Cost</th>
                        <th class='table th'>Stocks/Currency</th>
                        <th class='table th'>Shares/Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr class='tbody tr'>
                        <td class='table td'>{{transaction['action']}}</td>
                        <td class='table td'>{{transaction['date']}}</td>
                        <td class='table td'>{{transaction['time']}}</td>
                        <td class='table td'>{{transaction['cost']}}</td>
                        <td class='table td'>{{transaction['stocks']}}({{transaction['symbol']}})</td>
                        <td class='table td'>{{transaction['shares']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
{% endblock %}
